<main>
     <section>
          <form>
               <mat-form-field  Color="accent" appearance="outline">
                    <mat-label>1</mat-label>
                    <input type="" matInput placeholder="1">
                    <mat-hint>1</mat-hint>
               </mat-form-field>
               
               <mat-form-field >
                    <mat-label>2</mat-label>
                    <input type="" matInput placeholder="2" Color="accent">
                    <mat-hint>2</mat-hint>
               </mat-form-field>
               
               <mat-form-field >
                    <mat-label>3</mat-label>
                    <input type="" matInput placeholder="3" Color="accent">
                    <mat-hint>3</mat-hint>
               </mat-form-field>
               
               <mat-form-field >
                    <mat-label>4</mat-label>
                    <input type="" matInput placeholder="4" Color="accent">
                    <mat-hint>4</mat-hint>
               </mat-form-field>
               
               <mat-form-field >
                    <mat-label>5</mat-label>
                    <input type="" matInput placeholder="5" Color="accent">
                    <mat-hint>5</mat-hint>
               </mat-form-field>
               
               <mat-form-field >
                    <mat-label>6</mat-label>
                    <input type="" matInput placeholder="6" Color="accent">
                    <mat-hint>6</mat-hint>
               </mat-form-field>
               
               <mat-form-field >
                    <mat-label>7</mat-label>
                    <input type="" matInput placeholder="7" Color="accent">
                    <mat-hint>7</mat-hint>
               </mat-form-field>
               
               <mat-form-field >
                    <mat-label>8</mat-label>
                    <input type="" matInput placeholder="8" Color="accent">
                    <mat-hint>8</mat-hint>
               </mat-form-field>
               

          </form>
     </section>
</main>